# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
.conda/

# Environment variables
.env
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Database files
*.db
*.sqlite3

# Logs
*.log

# PyCharm / VS Code / IDEs
.idea/
.vscode/
*.iml

# Mac / Windows system files
.DS_Store
Thumbs.db

# MyPy / Pyre / Pytype type checker
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython / C extensions
*.so

# Profiling data
.prof
